<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRACKR</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/login.js" defer></script>
    <script src="/public/js/calories.js" defer></script>

</head>

<body>
    <header>
        <nav id="flexDiv">
            <h1>
                TRACKR
            </h1>
            <div>
                <a href="#">Home</a>
                {{#if loggedIn}}
                <button id="logout" class="btn">Logout</button>
                {{else}}
                <!-- Otherwise, show a link to login -->
                <a href="/">Login</a>
                {{/if}}
            </div>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>